.remove-btn {
  margin-right: 0.75rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 275ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 275ms ease-out;
}

h6 {
  display: inline;
}

ListGroupItem {
  display: flex;
  flex: auto;
  background-color: #fafafa;
}

.important {
  color: red;
}

.task:hover {
  border-left-color: green;
  border-width: 2px;
  border-left-width: 5px;
}

.task-important:hover {
  border-left-color: red;
  border-width: 2px;
  border-left-width: 5px;
}
